In [4]:
import pandas as pd

df=pd.read_csv("glassdoor_jobs.csv")

df

,Job Title,Salary Estimate,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Data scientist,₹436K - ₹480K,4.5,ICICI Prudential Life,Mumbai,10000+ Employees,2001,Private Practice / Firm,Insurance Carriers,Insurance,$10+ billion (USD)
1,Data Scientist,₹273K - ₹918K,4.1,Deloitte,Chennai,10000+ Employees,1850,Company - Private,Accounting & Tax,Financial Services,$10+ billion (USD)
2,Senior Data Scientist,₹392K - ₹779K,3.7,Kroll,Hyderābād,5001 to 10000 Employees,1932,Company - Private,Financial Transaction Processing,Financial Services,$1 to $5 billion (USD)
3,Data Science,₹300K - ₹833K,3.9,Infosys Limited,Bangalore,10000+ Employees,1981,Company - Public,Information Technology Support Services,Information Technology,$10+ billion (USD)
4,Data Scientist,₹1M,-1.0,Serendipity corporate services,Pune,1 to 50 Employees,-1,Private Practice / Firm,-1,-1,Unknown / Non-Applicable
...,...,...,...,...,...,...,...,...,...,...,...
895,Assistant Data Scientist,₹1M,-1.0,Ascendeum,Bangalore,-1,-1,-1,-1,-1,-1
896,Senior Data Scientist,₹941K - ₹1M,4.1,Boston Consulting Group,Bangalore,10000+ Employees,1963,Company - Private,Business Consulting,Management & Consulting,$5 to $10 billion (USD)
897,Machine Learning Trainer,₹361K - ₹2M,-1.0,EVOLVE ROBOTICS,Cochin,-1,-1,-1,-1,-1,-1
898,Data Scientist - Machine Learning/Artificial I...,₹300K - ₹2M,-1.0,Partnersoft Technologies Private Limited,Chennai,-1,-1,-1,-1,-1,-1
899,Data Scientist,₹289K - ₹652K,3.9,Cognizant,Pune,10000+ Employees,1994,Company - Public,Information Technology Support Services,Information Technology,$10+ billion (USD)